/* CUSTOM FONTS */
@import url("https://use.typekit.net/wbe6wuf.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/* GLOBAL */
body {
    font-family: "Museo-sans", "Montserrat", Roboto, Arial, sans-serif;
    color: #333333;
    font-size: 1rem;
    font-weight: 300;
    background-color: #fff;
    text-align: left;
    margin: 0;
    display: grid;
    grid-template-areas: "nav main"
        "nav main"
        "nav footer";
    grid-template-columns: 16rem 1fr;
}

/* TYPO */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    line-height: 1.925;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #b7b7b7;
    margin: 1em 0;
    padding: 0;
}
.text-primary{
    color: #0072b1;
}
.text-info{
    color: #11b3e3;
}

/* LINKS */
a {
    color: #0a65c1;
    position: relative;
    transition: all .4s ease-in;
    text-decoration: none;
}

a:hover {
    filter: brightness(50%);
}

a:hover:before {
    transform: scaleX(1);
}

a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #053361;
    transform: scaleX(0);
    transition: all 0.5s ease;
    transform-origin: left;
}
/* DEFINITIONS */
.definitions{
    padding: 15px
}
dt{
    font-weight: bold;
    font-size: 110%;
}
dd{
    font-style: italic;
}
/* CARDS */
.card{
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    border-radius: 6px;
    text-align: center;
    padding: 15px;
}
/* BOXES */
.box{
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    
}
/* COLOURS */
.bg-primary{
    background-color: #0072b1;
    color: #fff;
}
.bg-info{
    background-color: #11b3e3;
    color: #333333;
}
.bg-dark{
    background-color: #333333;
    color: #fff;
}
.bg-success{
    background-color: #008761;
    color: #fff;
}
.bg-warning{
    background-color: #fec140;
    color: #333;
}
.bg-danger{
    background-color: #df3116;
    color: #fff;
}
.bg-secondary{
    background-color: #6c757d;
    color: #fff;
}
.bg-grey1{
    background-color: #f9f9f9;
    color: #333;
}
.bg-grey2{
    background-color: #d8d8d8;
    color: #333;
}
.bg-grey3{
    background-color: #b7b7b7;
    color: #333;
}
.bg-grey4{
    background-color: #969696;
    color: #333;
}
.bg-grey5{
    background-color: #757575;
    color: #fff;
}
.bg-grey6{
    background-color: #545454;
    color: #fff;
}
.bg-grey7{
    background-color: #333;
    color: #fff;
}
.bg-grey8{
    background-color: #1a1a1a;
    color: #fff;
}
.black{
    background-color: #000;
    color: #fff;
}

/* LAYOUT */

/* NAV */



nav {
    /*border: 1px solid red;
    background-color: pink; */
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    grid-area: nav;
    border-right: 1px solid #b7b7b7;
    
    
    /* overflow: scroll; */
}

.branding {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.nav-logo {
    width: 6rem;
    margin: 0 auto;
    padding: 1vh;
    min-height: 100px;
}


.branding h1{
    
    font-weight: 300;
    line-height: 0;
    padding-top: 15px;
    padding-bottom: 10px;    
}
.branding h2{
    
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 0;
    padding-top: 20px;
    padding-bottom: 15px;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    padding: 7px 0;
}
/* MAIN */
main {
    margin: 0;
    padding: 0;
    grid-area: main;
}

/* ARTICLE CSS */
article {
    
    min-height: 91vh;

}

#article-head {
    background-color: #f9f9f9;
    padding: 15px
}

#article-body {
    padding: 15px;
}

/* TWO COLUMN */
.two-column{
    display: grid;
    grid-template-areas: "column-1 column-2";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px
    
}
.column-1{
    grid-area: column-1;
}
.column-2{
    grid-area: column-2;
}
 ol li{
    padding: 7px 10px;
}

/* FOUR CARDS */
.four-cards{
    width: 55vw;
    display: grid;
    grid-template-areas: "card-1 card-2"
                        "card-3 card-4";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 0 2vw;
    
}
.four-cards .card svg{
    max-width: 50%;
    padding: 2vh 2vw;
}
.card-1{
    grid-area: card-1;
}
.card-2{
    grid-area: card-2;
}
.card-3{
    grid-area: card-3;
}
.card-4{
    grid-area: card-4;
}
/* THREE QUARTERS */
.three-quarters{
    display: grid;
    grid-template-columns: 75% 1fr;
    grid-column-gap: 30px;
    grid-template-areas: "maj min";
}
.majority{
    grid-area: maj;
    height: 85vh;
    overflow-y: scroll;
    padding: 15px
}
.minority{
    grid-area: min;
    
}

/* FLEX ROW */
.flex-row{
    display: flex;
    flex-direction: row;
}

/* FOOTER */
footer {
   
    background-color: #f9f9f9;
    padding: 15px;
    grid-area: footer;
}

@media (max-width: 767.98px) {

    body {
        grid-template-areas: "main"
            "nav"
            "footer"
        ;
        grid-template-columns: 1fr;

    }

    nav {
        flex-direction: row;
        width: 100%;
        position: relative;
    }

    main {
        margin: 0;
    }
    .branding{
        display: none;
    }
    .two-column{
        grid-template-areas: "column-1"
                             "column-2";
        grid-template-columns: 1fr;
        grid-column-gap: 0;
    }
    .four-cards{
    width: 100%;
    display: grid;
    grid-template-areas: "card-1"
                        "card-2"
                        "card-3"
                        "card-4";
    grid-template-columns: 1fr ;
    grid-row-gap: 30px;
        margin: 0;
    
}
    .three-quarters{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    grid-template-areas: "min"
                        "maj";
}
.majority{
   
   height: auto;
    overflow: visible;
    padding: 15px
}
.minority{
    background-color: lightblue;
    border: 1px solid blue;
}
    .flex-row{
        flex-direction: column;
        margin: 0 auto;
    }
    

}
